$title: #121212;
$accent: #505050;
$green: #63A60E;
$white: #ffffff;
$black: #000000;
$bg: #31352B;
$red: #CF3E3B;

$opensans: 'Open Sans', sans-serif;
$roboto: 'Roboto', sans-serif;
$ruda: 'Ruda', sans-serif;