.advantages {
  padding: 48px 0 29px;
  background-color: #F6F6F6;

  &__wrapper {
    max-width: 911px;
    margin: 0 auto;
  }

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    font-weight: 600;
    max-width: 264px;
    width: 100%;
    padding-left: 74px;
    font-size: 16px;
    line-height: 1.5;
    color: $title;
    background-repeat: no-repeat;
    @include line-clamp3;

    span {
      display: block;
      max-width: 190px;
      font-size: 14px;
      line-height: 1.6;
      color: $accent;
    }
  }
}