.cards {
  padding: 72px 0;

  @include r(768px) {
    padding: 20px 0;
  }

  &__title {
    text-align: center;
    margin-bottom: 30px;
  }

  &__list {
    display: flex;
    justify-content: center;
    margin-bottom: 48px;
    flex-wrap: wrap;

    @include r(512px) {
      margin-bottom: 0;
    }
  }

  &__item {
    @include r(512px) {
      margin-bottom: 15px;
    }
  }

  &__item:not(:last-child) {
    margin-right: 24px;
  }

  &__wrapper-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    margin-bottom: 50px;

    @include r(1200px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @include r(854px) {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 5px;
      margin-bottom: 20px;
    }
  }

  &__card {
    position: relative;
    border: 1px solid rgba(17, 17, 17, 0.2);
    border-radius: 6px;
    max-width: 300px;
    max-height: 409px;
    transition: border 0.3s ease;

    @include r(854px){
      max-width: 50vw;
    }

    &:hover {
      border: 1px solid #63A60E;
    }
  }

  &__img-wrapper {
    margin-top: 55px;
  }

  &__img-link {
    position: relative;
    display: block;
    cursor: pointer;

    &:hover::before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.1);
    }

    &:hover::after {
      position: absolute;
      content: '';
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 48px;
      height: 48px;
      background-image: url(../images/content/loupe.png);
      background-repeat: no-repeat;
    }
  }

  &__img {
    max-width: 298px;
    width: 100%;
    height: 224px;
    object-fit: contain;

  }

  &__bottom {
    margin: 15px 18px;
  }

  &__card-title {
    font-weight: 600;
    letter-spacing: 0.03em;
    color: $title;
    min-height: 62px;
    @include line-clamp3;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    min-height: 38px;
    align-items: end;
  }

  &__price {
    color: $accent;
  }

  &__price--old {
    position: relative;
    color: #C1C1C1;
    letter-spacing: 0.03em;

    &::after {
      content: "";
      position: absolute;
      border: 1px solid #C1C1C1;
      width: 100%;
      transform: rotate(-14.99deg);
      bottom: 8px;
      left: 0;
    }
  }

  &__cart {
    background-repeat: no-repeat;
    background-position: center center;
    border: none;
    padding: 16px;
  }

  &__more {
    text-align: center;
  }

  &__link {
    display: inline-block;
    font-size: 18px;
  }
}