.footer {
  background-color: $bg;

  &__nav {
    border-bottom: 1px solid #464940;
    padding: 30px 0;
  }

  &__logo {
    display: block;
    margin-bottom: 27px;
    @include r(854px){
      text-align: center;
    }
  }


  &__wrapper {
    display: flex;
    justify-content: space-between;
    @include r(854px){
      flex-direction: column;
      align-items: center;
      .footer__copy{
        order: 1;
      }
      .footer__contact{
        order: -1;
      }
      .footer__inner{
        order: 2;
      }
    }
  }

  &__form {
    display: flex;
    margin-right: 50px;
    flex-wrap: wrap;
    max-width: 320px;
    @include r(1200px){
      margin-right: 5px;
    }
    @include r(375px){
      margin: 0;
    }
  }

  &__descr {
    font-size: 14px;
    line-height: 1;
    margin-bottom: 17px;
    color: $white;
  }

  &__mail {
    padding: 12px 7px;
    height: 40px;
    border: 1px solid transparent;
    border-radius: 6px 0px 0px 6px;
    outline: transparent;
    @include r(375px){
      max-width: 160px;
    }

    &::placeholder {
      color: #4F4F4F;
    }

    &:focus {
      border: 1px solid #63A60E;
      box-shadow: 0px 0px 0px 3px #E0EDCF;
    }
  }

  &__btn {
    height: 40px;
  }

  &__links{
    @include r(854px){
      margin-bottom: 50px;
    }
  }

  &__list {
    column-count: 3;
    column-gap: 74px;

    @include r(1200px) {
      column-count: 2;
      column-gap: 40px;
    }
  }

  &__item {
    margin-bottom: 18px;
  }

  &__link {
    color: $white;

    &:hover {
      opacity: 0.7;
    }
  }

  &__contact {
    color: $white;
    font-style: normal;
  }

  &__media-link {
    display: block;
    margin-bottom: 18px;

    &:hover {
      opacity: 0.7;
    }
  }

  &__social-list {
    display: flex;
    @include r(854px){
      margin-bottom: 26px;
    }
  }

  &__social-item:not(:last-child) {
    margin-right: 12px;
  }

  &__social-link {
    width: 32px;
    height: 32px;
    display: block;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: opacity 0.3s ease;

    &:hover {
      opacity: 0.7;
    }
  }

  &__bottom {
    padding: 28px 0;
  }

  &__copy {
    text-transform: uppercase;
    color: $white;
  }

  &__img {
    display: flex;
    @include r(854px){
      margin-bottom: 25px;
    }
  }

  &__visa {
    margin-right: 24px;
  }
}